.role-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .role-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
