.bd-box {
  border: 2px solid #ececec;
  border-radius: 5px;
  padding: 20px;
  min-height: 200px;
  border-bottom-color: blue;
}
.num-bx {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
