.ctg {
  display: flex;
  flex-wrap: wrap;
  .categoryBox {
    width: 200px;
    height: 140px;
    margin: 5px;
    position: relative;
    span {
      word-break: break-all;
    }
    .ctgIcons {
      position: absolute;
      bottom: 10px;
      right: 10px;
      button {
        display: inline-block;
        border: none !important;
        padding: 1rem 2rem;
        margin: 0;
        text-decoration: none;
        background: transparent !important;
        color: #ffffff;
        font-family: sans-serif;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
      }

      button:hover,
      button:focus {
        background: transparent;
      }

      button:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
      }

      button:active {
        transform: scale(0.99);
      }
      img {
        max-width: 20px;
        margin: 4px;
      }
    }
  }
}
.title-container {
  display: flex;
  justify-content: space-between;
}
